<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59694/ServiceB.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceB" contract="ServiceReferenceB.IServiceB"
                name="BasicHttpBinding_IServiceB" />
        </client>
    </system.serviceModel>
</configuration>
