<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISCP" />
                <binding name="BasicHttpBinding_ISCU" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64686/SCP.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISCP" contract="SCP.ISCP"
                name="BasicHttpBinding_ISCP" />
            <endpoint address="http://localhost:64684/SCU.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISCU" contract="SCU.ISCU"
                name="BasicHttpBinding_ISCU" />
        </client>
    </system.serviceModel>
</configuration>