<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceA" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59689/ServiceA.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceA" contract="ServiceReferenceA.IServiceA"
                name="BasicHttpBinding_IServiceA" />
        </client>
    </system.serviceModel>
</configuration>